{% extends "club/base.html" %}

{%block content %}
<section class="section update-detail">
    <div class="container">
        {% if update.hidden %}
        <div class="notification is-warning"><strong>HIDDEN UPDATE</strong> This update is not public or listed on the
            updates page yet.</div>
        {% endif %}

        <h1 class="title update-title">{{ update.title }}</h1>
        <h2 class="subtitle">Posted on {{ update.created_at }} | Last updated {{ update.updated_at }}</h2>

        <p class="content update-body">{{ update.body }}</p>
        <hr>

        <div id="comments" class="update-comments">
            <h2 class="title is-size-5">
                <a href="#comments">Comments</a>
            </h2>
        </div>
        <hr>
        <a href="{% url 'updates' %}" class="button is-link">
            <span class="icon">
                <i class="fas fa-chevron-left"></i>
            </span>
            <span>All Updates</span>
        </a>
    </div>
</section>
{% endblock %}