{% extends "club/base.html" %}

{% block content %}
<section class="hero is-danger">
    <div class="hero-body ">
        <div class="container">
            <h1 class="title">Club Updates</h1>
            <h2 class="subtitle">Keep up to date with what's been going on!</h2>
        </div>
    </div>
</section>
<section class="section update-index">
    <div class="container">

        <div class="updates columns">
            {% for update in updates %}
            <div class="column is-one-third">
                <div class="update card">
                    <div class="card-content">
                        <h2 class="title is-size-4">{{ update.title }}</h2>
                        <h2 class="subtitle has-text-grey is-size-6">{{ update.created_at }}</h2>
                        <div class="update-summary">
                            {{ update.body|truncatechars:100 }}
                        </div>
                        <a href="{% url 'update_detail' update.id %}">Read More...</a>
                    </div>
                </div>
            </div>
            {% empty %}
            <div class="column">
                <p class="has-text-grey is-size-4">
                    There are no updates posted yet. Stay tuned!
                </p>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}