{% extends "club/emails/base.html" %} {% block content %}
<section>
    <h2 class="subtitle">Welcome to the club!</h2>
</section>
<section class="primary">
    <h3 class="subtitle">Next Steps</h3>

    <p>
        To finish your registration, you must verify that you are a {{ school_name_short }} student. Fill in your
        <a href="{{ website }}/account">profile</a> with your school username and
        you will receive a verification link.
    </p>

    <p>After this, you will be able to RSVP and submit attendance for events!</p>
</section>
<section>
    <h2 class="subtitle">Follow us on social media!</h2>
    <p>Use the links below to follow our Twitter, Instagram, and Facebook accounts!</p>
</section>
{% endblock %}
