header .navbar-brand b {
    margin-left: 5px;
}

/* 
header span.icon {
    margin-right: 0px !important;
} */

main section .title > a, main section .subtitle > a {
    text-decoration: none;
    color: inherit;
    position: relative;
}

/* For section titles with anchor links, add a '#' on hover to the left */

main section .title > a:hover::before, main section .subtitle > a:hover::before {
    content: '#';
    position: absolute;
    left: -20px;
    color: #444;
}

main .notifications {
    margin-bottom: 20px;
}

.fade {
    opacity: 1;
    animation: fade 3s ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes fade {
  0%,100% { opacity: 0.1 }
  50% { opacity: 1 }
}

textarea {
    width: 100%;
    min-width: 100%; 
    max-width: 100%; 
    min-height: 100px;
    max-height: 400px;
}

/* The icons for email and other social media profiles. */
footer .links {
    font-size: 1.5em;
    margin-top: 1em;
}

footer .links a {
    margin: 0.25em;
}