{% extends "club/base.html" %}
{% block head %}
<style>
code {
    display: block;
}
</style>
{% endblock %}
{% block content %}
<section class="section">
    <div class="container">
        {% include 'club/includes/messages.html' %}
        
        <h2 class="title">Email</h2>

        <div class="columns">
            <div class="column">
                <div class="box">
                    <h2 class="subtitle">Mass Email</h2>

                    <form>
                        <div class="field">
                            <label class="label" for="email-template">Email Template</label>
                            <div class="select">
                                <select id="email-template" name="email-template">
                                    {% for template in email_templates %}
                                    <option value="{{ template }}">{{ template }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="column">
                <div class="box">
                    <h3 class="subtitle">All Users</h3>
                    <code>
                        {{ all_user_emails }}
                    </code>
                    <hr>
                    <h3 class="subtitle">All Members</h3>
                    <code>
                        {{ all_member_emails }}
                    </code>
                    <hr>
                    <h3 class="subtitle">Verified Members</h3>
                    <code>
                        {{ verified_member_emails }}
                    </code>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}