{% extends "club/base.html" %}
{% block content %}
<section class="section">
    <div class="container">
        {% include 'club/includes/messages.html' %}
        
        <h2 class="title">Core Team</h2>
        <h3 class="subtitle">Welcome, leader!</h3>

        <p class="has-text-grey has-text-centered">For now this page will be ugly. Once we determine what info
            to keep here we can work on tidying it up.
        </p>
        
        <hr>
        <div class="columns">
            <div class="column">
                <div class="box links">
                    <h3 class="subtitle is-size-4">Quicklinks</h3>
                    <ul>
                        <li><a href="https://console.cloud.google.com/" target="_blank" rel="noopener noreferrer">Google Cloud Console</a></li>
                        <li><a target="_blank" href="https://drive.google.com/drive/u/1/folders/{{ google_drive_folder_id }}">Club Google Drive</a></li>
                        <li><a href="https://sites.google.com/google.com/developerstudentclubleads/home" target="_blank" rel="noopener noreferrer">Google DSC Lead Home</a></li>
                        <li><a href="https://docs.google.com/spreadsheets/d/1qHvNvuYzI0Wjt_QUU85JMsKUZIQLmwg0VKYMpifZ914/edit#gid=0" target="_blank" rel="noopener noreferrer">DSC Resources List</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}