{% extends "club/base.html" %}
{% block content %}
<section class="section">
    <div class="container">
        {% include 'club/includes/messages.html' %}
        
        <h2 class="title">Core Team</h2>
        <h3 class="subtitle">Welcome, leader!</h3>

        <p class="has-text-grey has-text-centered">For now this page will be ugly. Once we determine what info
            to keep here we can work on tidying it up.
        </p>
        
        <hr>
        <div class="columns">
            <div class="column">
                <div class="box core-team">
                    <h3 class="subtitle is-size-4">Leads</h3>
                    <ul>
                        {% for user in core_team %}
                        <li><a href="{% url 'member_detail' user.id %}">{{ user.get_full_name }} | {{ user.member.group_names }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="column">
                <div class="box links">
                    <h3 class="subtitle is-size-4">Quicklinks</h3>
                    <ul>
                        {% for name, link in links %}
                        <li><a href="{{link}}" target="_blank" rel="noopener noreferrer">{{name}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}