{% extends "club/base.html" %}
{% block content %}
<section class="section">
    <div class="container">
        {% include 'club/includes/messages.html' %}
        
        <h2 class="title">Member Management</h2>

        <div class="columns">
            <div class="column">
                <div class="box">
                    <h2 class="subtitle">Pending Verification</h2>

                    {% for member in unverified_members %}
                    <li>
                      {{ member.user.get_full_name }} ({{ member.user.email }}): <span class="has-text-grey">{{ member.school_username }}</span>
                      <form method="POST" style="display: inline-block;">
                        {% csrf_token %}
                        <input type="hidden" name="verify-member-id" value="{{ member.id }}">
                        <button class="button is-small">Verify</button>
                      </form>
                    </li>
                    {% empty %}
                    <p class="has-text-grey is-size-7">No members are pending verification.</p>
                    {% endfor %}
                </div>
            </div>
        </div>

        <hr>

        <table class="table is-fullwidth">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>RPI Username</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for member in verified_members %}
                <tr>
                    <td>{{ member.user.get_full_name }}</td>
                    <td>{{ member.user.email }}</td>
                    <td>{{ member.school_username }}</td>
                    <td><a href="{% url 'member_detail' member.id %}" class="button is-small">View</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock %}