{% extends "club/base.html" %}
{% block content %}
<section class="section">
    <div class="container">
        {% include 'club/includes/messages.html' %}
        
        <h2 class="title">Social Media Management</h2>
        
        <div class="columns is-multiline">
            <div class="column is-one-third">
                <div class="box">
                    <a class="subtitle" tareget="_blank" href="https://twitter.com/{{ twitter_username }}">Twitter</a>
                    <span class="has-text-grey">@{{ twitter_username }}</span>
                    <form method="POST">
                        {% csrf_token %}
                        <div class="field">
                            <input type="text" class="input" name="tweet">
                            <button class="button" type="submit">Tweet</button>
                        </div>
                    </form>
                    <hr>
                    <a class="twitter-timeline" href="https://twitter.com/dsc_rpi?ref_src=twsrc%5Etfw">Tweets by dsc_rpi</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
            </div>
        </div>

    </div>
</section>
{% endblock %}