{% extends "club/base.html" %}
{% block content %}
<section class="section">
    <div class="container">
        <h2 class="title">Social Media Management</h2>
        
        <div class="columns is-multiline">
            <div class="column is-one-third">
                <div class="box">
                    <a class="subtitle" tareget="_blank" href="https://twitter.com/{{ twitter_username }}">Twitter</a>
                    <span class="has-text-grey">@{{ twitter_username }}</span>
                    <div class="field">
                        <input type="text" class="input" name="tweet">
                        <button type="submit">Tweet</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
{% endblock %}