{% extends "club/base.html" %}
{% block head %}
<style>
.member-full-name {
    margin-top: 20px;
}
</style>
{% endblock %}
{% block content %}
<section class="section member-index">
    <div class="container">
        {% include 'club/includes/messages.html' %}
        <!-- 
        <h3 class="subtitle"></h3>
        <h1 class="title"></h1> -->

        <div class="columns is-centered">
            <div class="column is-3">
                <figure class="image" style="width: 100%;">
                    <img src="{{ member.profile_image_url }}">
                </figure>
                <h1 class="title member-full-name is-size-2">{{ member.user.get_full_name }}</h1>
                {% if member.user.is_staff %}<h3 class="subtitle is-size-4">Core Team Member</h3>{% endif %}
                <div class="social">
                    <p class="email">
                        <span class="icon">
                            <i class="far fa-envelope"></i>
                        </span>
                        <span class="has-text-grey"><a href="mailto:{{ member.user.email }}">{{ member.user.email }}</a></span>
                    </p>

                    <p class="github">
                        <span class="icon">
                            <i class="fab fa-github"></i>
                        </span>
                        <span class="has-text-grey">not yet set</span>
                    </p>
                </div>
            </div>
            <div class="column is-7">
                <h4 class="subtitle">About {{ member.user.first_name }}</h4>
                <div class="content">
                    {% if member.bio %}
                    <p>{{ member.bio }}</p>
                    {% else %}
                    <p class="has-text-grey">{{ member.user.first_name }} hasn't written a bio yet!</p>
                    {% endif %}
                </div>
                <hr>
                <h4 class="subtitle">{{ member.user.first_name }}'s Attendance</h4>
                <div class="content">
                    <ul>
                        {% for attendance in member.user.attendance.all %}
                        <li><a href="{% url 'event_detail' attendance.event.id %}">{{ attendance.event }}</a></li>
                        {% empty %}
                        <li class="has-text-grey">{{ member.user.first_name }} hasn't attended any events yet!</li>
                        {% endfor %}
                    </ul>
                </div>
                <hr>
                {% if member.skills %}
                <h4 class="subtitle">{{ member.user.first_name }} has experience with</h4>
                <div class="tags skills">
                    {% for skill in member.skills %}
                    <span class="tag is-medium is-primary">{{ skill.title }}</span>
                    {% empty %}
                    <p class="has-text-grey">No skills!</p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}