{% extends "club/base.html" %}

{% block content %}
<section class="hero is-info">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">Club Members</h1>
            <h2 class="subtitle">Browse your fellow DSC members!</h2>
        </div>
    </div>
</section>
<section class="section member-index">
    <div class="container">
        {% include 'club/includes/messages.html' %}

        <div class="columns is-flex is-multiline">
            {% for member in members %}
            <div class="column is-half-mobile is-one-quarter-tablet is-one-fifth-desktop">
                <div class="card">
                    <div class="card-image" style="position: relative;">
                        <figure class="image">
                            <img src="{% if member.profile_image %}{{ member.profile_image.url }}{% else %}https://bulma.io/images/placeholders/1280x960.png{% endif %}" alt="Placeholder image">
                        </figure>
                        {% if member.user.is_staff %}
                        <span class="tag is-medium is-dark" style="position: absolute; left:5px; bottom:5px">Core Team</span>
                        {% endif %}
                    </div>
                    <div class="card-content">
                        <h2 class="subtitle is-size-6 is-marginless">
                            <a href="{% url 'member_detail' member.id %}">{{ member.user.get_full_name }}</a>
                        </h2>
                        <p>
                            
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}