{% extends "club/base.html" %}
{% block head %}
<style>
    .card-content {
        padding: 10px;
    }
</style>
{% endblock %}

{% block content %}
<section class="hero is-info">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">Club Members</h1>
            <h2 class="subtitle">Browse your fellow {{ members.count }} DSC members!</h2>
        </div>
    </div>
</section>
<section class="section member-index">
    <div class="container">
        {% include 'club/includes/messages.html' %}

        <form class="box">
            <div class="field has-addons ">
                <div class="control is-expanded">
                    <input name="q" type="search" class="input" placeholder="Search members by name, email, GitHub, skills, etc.">
                </div>
                <div class="control">
                    <button class="button is-success">Search</button>
                </div>
            </div>
        </form>

        <div class="columns is-flex is-multiline">
            {% for member in members %}
            <div class="column is-half-mobile is-3-tablet is-2-desktop">
                <div class="card grow-in">
                    <div class="card-image" style="position: relative;">
                        <figure class="image">
                            <img src="{{ member.profile_image_url }}" alt="Placeholder image">
                        </figure>
                        {% if member.user.is_staff %}
                        <span class="tag is-small is-dark" style="position: absolute; left:5px; bottom:5px">Core Team</span>
                        {% endif %}
                    </div>
                    <div class="card-content">
                        <a href="{% url 'member_detail' member.id %}">
                        <h2 class="subtitle is-size-6 is-marginless">
                            {{ member.user.get_full_name }}
                        </h2>
                    </a>
                        <p>
                            
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}