<footer class="footer">
    <p class="has-text-centered has-text-grey">
        Brought to you by <b>Developer Student Clubs {{ school_name }}</b> 2019
    </p>
    <p class="links has-text-centered">
        <a href="mailto:{{ google_account }}" title="Email DSC {{ school_name }}" target="_blank"><i class="far fa-envelope"></i></a>
        <a href="https://developers.google.com/community/dsc" title="Google's official page on DSC" target="_blank" rel="noopener noreferrer"><i class="fab fa-google"></i></a>
        <a href="https://www.instagram.com/{{ instagram_username }}" title="The official DSC {{ school_name }} Instagram" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>
        <a href="{{ facebook_link }}" title="The official DSC {{ school_name }} Facebook page" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-square"></i></a>
        <a href="https://twitter.com/{{ twitter_username }}" title="The official DSC {{ school_name }} Twitter feed" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
        <a href="{{ github_link }}" title="The full source of the DSC Portal (this site)" target="_blank" rel="noopener noreferrer"><i class="fab fa-github-square"></i></a>
    </p>
</footer>