<footer class="footer">
    <p class="has-text-centered has-text-grey">
        Brought to you by <b>Developer Student Clubs {{ school_name }}</b> 2019
    </p>
    <p class="has-text-centered">
        <a href="https://developers.google.com/community/dsc" title="Google's official page on DSC" target="_blank" rel="noopener noreferrer"><i class="fab fa-google"></i></a>
        <a href="{{ instagram_link }}" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>
        <a href="{{ facebook_link }}" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-square"></i></a>
        <a href="{{ github_link }}" target="_blank" rel="noopener noreferrer"><i class="fab fa-github-square"></i></a>
    </p>
</footer>