<footer class="footer">
    <p class="has-text-centered has-text-grey">
        Developed and maintained by Frank Matranga RPI DSC Lead 2019
    </p>
    <p class="has-text-centered">
        <a href="https://developers.google.com/community/dsc" title="Google's official page on DSC" target="_blank" rel="noopener noreferrer"><i class="fab fa-google"></i></a>
        <a href="#" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>
        <a href="#" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-square"></i></a>
        <a href="#" target="_blank" rel="noopener noreferrer"><i class="fab fa-github-square"></i></a>
    </p>
</footer>