{% load static %}
<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img class="dsc-logomark" src="{% static 'club/img/google_developers_logomark_white.png' %}" alt="Official white DSC logomark" width="40">
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
            data-target="top-navbar">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="top-navbar" class="navbar-menu">
        <div class="navbar-start">
            <a href="#" class="navbar-item">
                Home
            </a>

            <a href="#" class="navbar-item">
                Events
            </a>

            <a href="#" class="navbar-item">
                Projects
            </a>
            
            <a href="#" class="navbar-item">
                Core Team
            </a>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-primary">
                        <strong>Join</strong>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>