{% load static %}
<header>
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img class="dsc-logomark" src="{% static 'club/img/google_developers_logomark_color.png' %}"
                    alt="Official white DSC logomark" width="40">
                <b>DSC {{ school_name_short }}</b>
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                data-target="top-navbar">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="top-navbar" class="navbar-menu">
            <div class="navbar-start">
                {% if user.is_authenticated %}
                <a href="{% url 'index' %}" class="navbar-item" title="See your dashboard.">
                    <span class="icon">
                        <i class="fas fa-home"></i>
                    </span>
                    <span>Home</span>
                </a>
                {% else %}
                <a href="{% url 'about' %}" class="navbar-item" title="Learn about the DSC program.">
                    <span class="icon">
                        <i class="fas fa-info-circle"></i>
                    </span>
                    <span>About</span>
                </a>
                {% endif %}

                <a href="{% url 'events' %}" class="navbar-item" title="See the events being held.">
                    <span class="icon">
                        <i class="fas fa-calendar-alt"></i>
                    </span>
                    <span>Events</span>
                </a>

                {% if user.is_authenticated %}
                <a href="{% url 'members' %}" class="navbar-item" title="View the club's members.">
                    <span class="icon">
                        <i class="fas fa-users"></i>
                    </span>
                    <span>Members</span>
                </a>
                {% endif %}

                <a href="{% url 'projects' %}" class="navbar-item"
                    title="Check out the projects DSC University has been working on!">
                    <span class="icon">
                        <i class="fas fa-archive"></i>
                    </span>
                    <span>Projects</span>
                </a>

                <a href="{% url 'updates' %}" class="navbar-item" title="Find out what's been going on!">
                    <span class="icon">
                        <i class="fas fa-newspaper"></i>
                    </span>
                    <span>Updates</span>
                </a>

                {% if user.is_staff %}
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        <span class="icon">
                            <i class="fas fa-crown"></i>
                        </span>
                        <span>Core Team</span>
                    </a>

                    <div class="navbar-dropdown">
                        <a href="{% url 'core_team' %}" class="navbar-item">
                            Overview
                        </a>
                        <hr class="navbar-divider">
                        </hr>
                        <a href="{% url 'roadmap' %}" class="navbar-item">
                            Club Roadmap
                        </a>
                        <a href="{% url 'social_media' %}" class="navbar-item">
                            Social Media
                        </a>
                    </div>
                </div>
                {% endif %}
            </div>

            <div class="navbar-end">
                {% if user.is_authenticated %}
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        <span class="icon">
                            <i class="fas fa-user-circle"></i>
                        </span>
                        <strong>{{ user.first_name }} {{ user.last_name }}</strong>
                    </a>

                    <div class="navbar-dropdown">
                        {% if user.is_staff %}
                        <a href="/admin" target="_blank" class="navbar-item">
                            <span class="icon">
                                <i class="fas fa-users-cog"></i>
                            </span>
                            <span>Administration</span>
                        </a>
                        {% endif %}
                        <a href="{% url 'user_account' %}" class="navbar-item">
                            <span class="icon">
                                <i class="fas fa-edit"></i>
                            </span>
                            <span>Edit Profile</span>
                        </a>
                        <hr class="navbar-divider">
                        <a href="{% url 'logout' %}" class="navbar-item">
                            <span class="icon">
                                <i class="fas fa-sign-out-alt"></i>
                            </span>
                            <span>Logout</span>
                        </a>
                    </div>
                </div>
                {% else %}
                <a class="navbar-item" href="{% url 'social:begin' 'google-oauth2' %}">
                    Login
                </a>
                <div class="navbar-item">
                    <a class="button is-primary" href="#">
                        <strong>Join</strong>
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
    </nav>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            // Get all "navbar-burger" elements
            const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

            // Check if there are any navbar burgers
            if ($navbarBurgers.length > 0) {

                // Add a click event on each of them
                $navbarBurgers.forEach(el => {
                    el.addEventListener('click', () => {

                        // Get the target from the "data-target" attribute
                        const target = el.dataset.target;
                        const $target = document.getElementById(target);

                        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                        el.classList.toggle('is-active');
                        $target.classList.toggle('is-active');

                    });
                });
            }
        });
    </script>
</header>