{% load static %}
<header>
    <nav class="navbar {% if request.path == '/' and not user.is_authenticated %}is-white{% else %}is-dark{% endif %}"
        role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img class="dsc-logomark" src="{% static 'club/img/google_developers_logomark_color.png' %}"
                    alt="Official white DSC logomark" width="40">
                <b>DSC {{ school_name_short }}</b>
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                data-target="top-navbar">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="top-navbar" class="navbar-menu">
            <div class="navbar-start">
                {% if user.is_authenticated %}
                <a href="{% url 'index' %}" class="navbar-item" title="See your dashboard.">
                    <span class="icon">
                        <i class="fas fa-home"></i>
                    </span>
                    <span>Home</span>
                </a>
                {% else %}
                <a href="{% url 'about' %}" class="navbar-item" title="Learn about the DSC program.">
                    <span class="icon">
                        <i class="fas fa-info-circle"></i>
                    </span>
                    <span>About</span>
                </a>
                {% endif %}

                <a href="{% url 'events' %}" class="navbar-item" title="See the events being held.">
                    <span class="icon">
                        <i class="fas fa-calendar-alt"></i>
                    </span>
                    <span>Events</span>
                </a>

                <a href="{% url 'projects' %}" class="navbar-item"
                    title="Check out the projects DSC University has been working on!">
                    <span class="icon">
                        <i class="fas fa-archive"></i>
                    </span>
                    <span>Projects</span>
                </a>

                <a href="{% url 'updates' %}" class="navbar-item" title="Find out what's been going on!">
                    <span class="icon">
                        <i class="fas fa-newspaper"></i>
                    </span>
                    <span>Updates</span>
                </a>
            </div>

            <div class="navbar-end">
                {% if user.is_authenticated %}
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        <span class="icon">
                            <i class="fas fa-user-circle"></i>
                        </span>
                        <strong>{{ user.first_name }} {{ user.last_name }}</strong>
                    </a>

                    <div class="navbar-dropdown">
                        <a href="#" class="navbar-item">
                            <span class="icon">
                                <i class="fas fa-edit"></i>
                            </span>
                            <span>Edit Profile</span>
                        </a>
                        <hr class="navbar-divider">
                        <a href="{% url 'logout' %}" class="navbar-item">
                            <span class="icon">
                                <i class="fas fa-sign-out-alt"></i>
                            </span>
                            <span>Logout</span>
                        </a>
                    </div>
                </div>
                {% else %}
                <a class="navbar-item" href="{% url 'login' %}">
                    Login
                </a>
                <div class="navbar-item">
                    <a class="button is-primary" href="#">
                        <strong>Join</strong>
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
    </nav>
</header>