{% extends "club/base.html" %}
{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title">Your Account</h1>
        
        {% include 'club/includes/messages.html' %}
        
        <div class="columns">
            <div class="column">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    
                    {{ form }}
        
                    <input class="button" type="submit" value="Save">
                </form>
            </div>
            
        </div>
    </div>
</section>
{% endblock %}