{% extends "club/base.html" %}

{% block content %}
<section class="section">
    <div class="container">

        <h1 class="title">Member Login</h1>

        {% if form.errors %}
        <p class="notification is-danger">Your username and password didn't match. Please try again.</p>
        {% endif %}

        {% if next %}
        {% if user.is_authenticated %}
        <p class="notification is-warning">Your account doesn't have access to this page. To proceed,
            please login with an account that has access.</p>
        {% else %}
        <p class="notification is-warning">Please login to see this page.</p>
        {% endif %}
        {% endif %}

        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}

            <div class="field">
                {{ form.username.label_tag }}
                {{ form.username }}
            </div>
            <div class="field">
                {{ form.password.label_tag }}
                {{ form.password }}
            </div>

            <input class="button" type="submit" value="Login">
            <input type="hidden" name="next" value="{{ next }}">
        </form>

        <p><a href="{% url 'password_reset' %}">Lost password?</a></p>

        <hr>

        <a href="{% url 'social:begin' 'github' %}">GitHub</a>
        <a href="{% url 'social:begin' 'google-oauth2' %}">Google</a>
    </div>
</section>
{% endblock %}