{% extends "club/base.html" %}

{% block content %}
<section class="section">
    <div class="container">

        <h1 class="title">Member Login</h1>
        
        <div class="columns">
            <div class="column">
                <a href="#" class="button is-large">
                    <span class="icon"></span>
                    <span>Login with Google</span>
                </a>
            </div>
        </div>

        <a href="{% url 'social:begin' 'github' %}">GitHub</a>
        <a href="{% url 'social:begin' 'google-oauth2' %}">Google</a>
    </div>
</section>
{% endblock %}