<div class="event-details box">
    <div class="event-time is-flex" title="When the event is being held">
        <span class="icon">
            <i class="far fa-clock"></i>
        </span>
        <p>
            <span>{{ event.start|date:"l F j" }}</span>
            <br>
            <span class="has-text-grey">{{ event.start|date:"g:i a" }} - {{ event.end|date:"g:i a" }}</span>
        </p>
    </div>
    <br>
    <div class="event-location is-flex" title="Where the event is being held">
        <span class="icon">
            <i class="fas fa-map-marker-alt"></i>
        </span>
        <span><a target="_blank"
                href="https://maps.google.com/?q={{ event.location|urlencode }}">{{ event.location }}</a></span>
    </div>
    <hr>

    {% if event.is_ongoing %}

    {% if attendance_submitted %}
    <p class="has-text-grey is-size-7">Your attendance has been recorded.</p>
    {% elif event.is_ongoing %}
    <a href="{% url 'event_attendance' event.id %}" class="button is-primary">Submit Attendance Code</a>
    {% endif %}

    {% elif rsvp and not event.has_started %}
    <div class="columns is-vcentered">
        <div class="column is-narrow">
            <p class="has-text-grey is-size-7">
                You are RSVPed for this event{% if rsvp.message %} ({{ rsvp.message }}){% endif %}.
            </p>
        </div>
        <div class="column">
            <form action="/events/{{ event.id }}/rsvp?remove=1" method="POST"
                onsubmit="return confirm('Are you sure you want to take back your RSVP?')">
                {% csrf_token %}
                <input type="hidden" name="unrsvp" value="1">
                <button type="submit" class="button is-small is-pulled-right">unRSVP</button>
            </form>
        </div>
    </div>
    {% elif not rsvp and not event.has_started %}
    <a href="{% url 'event_rsvp' event.id %}" class="button is-success">RSVP for Event</a>
    {% endif %}

    {% if event.is_over %}
    <p class="has-text-grey is-size-7">
        {% if rsvp and attendance_submitted %}
        You RSVPed and attended this event.
        {% elif not rsvp and attendance_submitted %}
        You did <b>not</b> RSVP but attended this event.
        {% elif rsvp and not attendance_submitted %}
        You did not RSVP nor attend this event.
        {% else %}
        You did not RSVP for or attend this event.
        {% endif %}
    </p>
    {% endif %}
</div>