<div class="columns">
    <div class="column">
        <details class="box" id="view-rsvps">
            <summary>RSVPs</summary>
            {% for rsvp in event.rsvps.all %}
                <li>{{ rsvp }}</li>
            {% endfor %}
        </details>
    </div>
    <div class="column">
        <details class="box" id="view-attendance">
            <summary>Attendance</summary>
            <h3 class="subtitle">{{ event.attendance_code }}</h3>
            {% for mark in event.attendance.all %}
                <li>{{ mark }}</li>
            {% endfor %}
        </details>
    </div>
</div>