<form id="submit-attendance" method="POST" class="box">
    {% csrf_token %}
    <label class="label" for="attendance-code">Verify Attendance</label>
    
    {% if attendance_submitted %}
    <p class="help">You have been verified!</p>
    {% else %}
    <p class="help">The attendance code will be released by the event organizer towards the end of the event. You must enter the code before the end of the event in order to be counted.</p>
    <fieldset {% if not ongoing %}disabled{% endif %}>
        <div class="field has-addons">
            <div class="control has-icons-left is-expanded is-disabled">
                <input id="attendance-code" class="input" name="attendance-code" type="text" placeholder="Attendance code">
                <span class="icon is-small is-left">
                    <i class="fas fa-key"></i>
                </span>
            </div>
            <div class="control">
                <button type="submit" class="button is-info">
                    Submit
                </button>
            </div>
        </div>
    </fieldset>
    {% endif %}
</form>