<div class="event-info box content">
    <h3 class="subtitle is-size-5">Event Info</h3>
    <div class="event-time is-flex" title="When the event is being held">
        <span class="icon">
            <i class="far fa-clock"></i>
        </span>
        <p>
            <span>{{ event.start|date:"l F j" }}</span>
            <br>
            <span class="has-text-grey">{{ event.start|date:"g:i a" }} - {{ event.end|date:"g:i a" }}</span>
        </p>
    </div>
    <div class="event-location is-flex" title="Where the event is being held">
        <span class="icon">
            <i class="fas fa-map-marker-alt"></i>
        </span>
        <span><a target="_blank"
                href="https://maps.google.com/?q={{ event.location|urlencode }}">{{ event.location }}</a></span>
    </div>
    <div class="event-what-to-bring" title="What you need to bring">
        <span class="icon">
            <i class="fas fa-suitcase"></i>
        </span>
        <span>{% firstof event.what_to_bring 'Nothing required!' %}</span>
    </div>
    {% if not user.is_staff and user.is_authenticated %}
    <hr>

    {% if event.is_ongoing %}

    {% if attendance_submitted %}
    <p class="has-text-grey is-size-7">Your attendance has been recorded.</p>
    {% elif event.is_ongoing %}
    <a href="{% url 'event_attendance' event.id %}" class="button is-primary">Submit Attendance Code</a>
    {% endif %}

    {% elif rsvp and not event.has_started %}
    <div class="columns is-vcentered">
        <div class="column">
            <p class="has-text-grey is-size-7">
                You are RSVPed for this event{% if rsvp.message %}: <i>"{{ rsvp.message }}"</i>{% endif %}.
            </p>
        </div>
        <div class="column is-narrow">
            <form action="/events/{{ event.id }}/rsvp?remove=1" method="POST"
                onsubmit="return confirm('Are you sure you want to take back your RSVP?')">
                {% csrf_token %}
                <input type="hidden" name="unrsvp" value="1">
                <button type="submit" class="button is-small">Cancel RSVP</button>
            </form>
        </div>
    </div>
    {% elif not rsvp and not event.has_started %}
    <a href="{% url 'event_rsvp' event.id %}" class="button is-primary">
        <span class="icon"><i class="fas fa-calendar-alt"></i></span>
        <span>RSVP for Event</span>
    </a>
    {% endif %}

    {% if event.is_over %}
    <p class="has-text-grey is-size-7">
        {% if rsvp and attendance_submitted %}
        You RSVPed and attended this event.
        {% elif not rsvp and attendance_submitted %}
        You did <b>not</b> RSVP but attended this event.
        {% elif rsvp and not attendance_submitted %}
        You did not RSVP nor attend this event.
        {% else %}
        You did not RSVP for or attend this event.
        {% endif %}
    </p>
    {% endif %}
    {% endif %}
    <hr>
    <div class="event-agenda">
        <h3 class="subtitle is-size-5">Agenda</h3>
        {% for item in event.agenda.all %}
        <li>
            <strong>~{{ item.estimated_start_time|time:"g:iA" }}</strong> - {{ item.title }} <em class="has-text-grey">({{ item.duration_string }})</em>
            {% if user.is_staff %}
            <p class="event-agenda-description">{{ item.description }}</p>
            {% endif %}
        </li>
        {% empty %}
        <p class="is-size-7 has-text-grey">No agenda items yet!</p>
        {% endfor %}
    </div>

</div>
