{% extends "club/base.html" %}
{% block content %}
<section class="section">
    <div class="container">
        <h2 class="title">What is DSC?</h2>
        <h3 class="subtitle">And what does it mean for me?</h3>

        <div class="content">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta maxime eum fuga ratione unde aliquid nam
                id quia corporis, incidunt consequuntur fugit quaerat veniam repellendus tempore voluptate consectetur
                quo. Excepturi vitae, cumque ipsum ipsam commodi amet veniam? Adipisci placeat id deserunt officiis
                saepe, voluptatibus vitae itaque eveniet facere consequatur, nulla autem culpa magni quibusdam,
                perferendis quaerat possimus laudantium omnis ea aspernatur unde. Eius voluptatibus tempore fuga
                officiis, asperiores neque laboriosam iste commodi magnam qui facere quos illum, impedit fugit nemo
                necessitatibus eaque eligendi inventore libero ullam repellendus officia voluptatum placeat? Cum,
                voluptatem eius. Delectus dolorem dolore dolores ratione eius ea qui beatae voluptatem perspiciatis
                laborum consequatur, aliquam tenetur ipsa facilis suscipit unde asperiores nobis illum. Eius delectus
                minus id possimus voluptas! Veniam, nulla optio a rem voluptatibus, excepturi eveniet tempora, unde
                dolorem expedita voluptate iure? Dicta adipisci sed perferendis asperiores libero excepturi quisquam
                laudantium id labore, eos tempora itaque? Non rerum quis dolores pariatur! Nesciunt minus blanditiis
                iste repudiandae. Ratione, accusantium pariatur a maxime laborum debitis reprehenderit libero nihil
                voluptates placeat provident iste eaque dolore magnam officia, quidem ipsum consequuntur repudiandae?
                Autem magnam repudiandae excepturi dignissimos illum? Ad, nobis delectus explicabo id odio quos vitae
                iure saepe harum minus atque?
            </p>
        </div>
    </div>
</section>
<section class="hero is-warning">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                The Core Team
            </h1>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="columns is-multiline">

            <!-- Core Team Member Column -->
            <div class="column is-half">
                <div class="box core-team-member">
                    <div class="media">
                        <div class="media-left">
                            <p class="image is-64x64">
                                <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                            </p>
                        </div>
                        <div class="media-content">
                            <h2 class="title is-size-5">Core Team Member</h2>
                            <h3 class="subtitle">Lead</h3>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Core Team Member Column -->
            <div class="column is-half">
                <div class="box core-team-member">
                    <div class="media">
                        <div class="media-left">
                            <p class="image is-64x64">
                                <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                            </p>
                        </div>
                        <div class="media-content">
                            <h2 class="title is-size-5">Core Team Member</h2>
                            <h3 class="subtitle">Secretary</h3>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Core Team Member Column -->
            <div class="column is-half">
                <div class="box core-team-member">
                    <div class="media">
                        <div class="media-left">
                            <p class="image is-64x64">
                                <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                            </p>
                        </div>
                        <div class="media-content">
                            <h2 class="title is-size-5">Core Team Member</h2>
                            <h3 class="subtitle">Graphic Designer</h3>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock %}