{% extends "club/base.html" %}
{% block content %}
<section class="section">
    <div class="container">
        {% include 'club/includes/messages.html' %}

        <h2 class="title">{{school_name_short}} DSC Code of Conduct</h2>
        <h3 class="subtitle">Our Club Rules</h3>

        <div class="content">
            <blockquote>
                <p>
                    <h1>TBD</h1>
                </p>
                <footer>— Last updated February 24th, 2020</footer>
            </blockquote>
        </div>
    </div>
</section>
{% endblock %}
