{% extends "club/base.html" %}

{% block content %}
<section class="section">
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11/lib/typed.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const randomColor = ['success', 'danger', 'warning', 'info'][Math.floor(Math.random() * 4)]
            const nameEl = document.getElementById('name')
            nameEl.classList.add('has-text-' + randomColor)

            new Typed(nameEl, {
                strings: [nameEl.dataset.name + '!'],
                typeSpeed: 50,
                showCursor: false,
            });
        })
    </script>
    <div class="container">
        {% include 'club/includes/messages.html' %}

        <h1 class="title is-size-1">Welcome, <span data-name="{{user.first_name}}" id="name"></span></h1>

        <div class="columns is-multiline">
            {% if ongoing_event %}
            <div class="column is-one-third">
                <div class="box has-background-warning">
                    <h2 class="subtitle">Ongoing Event</h2>
                    <h1 class="title">{{ ongoing_event.title }}</h1>
                    {% if ongoing_event.tagline %}<span>{{ ongoing_event.tagline }}</span>{% endif %}

                    <a href="{% url 'event_detail' ongoing_event.id %}" class="button is-link">View</a>
                </div>
            </div>
            {% endif %}
            <div class="column is-one-third">
                <div class="box">
                    <h3 class="subtitle">Your Recent Activity</h3>
                    <ul>
                        <li class="has-text-grey">No recent activity.</li>
                    </ul>
                </div>
            </div>
            <div class="column is-one-third">
                <div class="box">
                    <h3 class="subtitle">Your Upcoming Events</h3>
                    <ul>
                        {% for rsvp in upcoming_rsvps %}
                        <li><a href="{% url 'event_detail' rsvp.event.id %}">{{ rsvp.event }}</a></li>
                        {% empty %}
                        <p class="has-text-grey">You haven't RSVPed for any <a href="{% url 'events' %}">upcoming
                                events</a>.</p>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}