{% extends "club/base.html" %}
{% block content %}
<section class="section">
    <div class="container">
        {% include 'club/includes/messages.html' %}
        
        <h2 class="title">DSC Q & A</h2>
        <h3 class="subtitle">Commonly asked questions.</h3>

        <div class="questions">
            {% for qa in questions %}
            <div class="question" id="question-{{ qa.id }}">
                <strong><a href="#question-{{ qa.id }}">{{ qa.question }}</a></strong>
                <p>{{ qa.answer }}</p>
            </div>
            {% empty %}
            <p class="has-text-grey">No questions have been sumitted yet!</p>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}