{% extends "club/base.html" %}
{% load static %}

{% block content %}
<section class="section">
    <img src="{% static 'club/img/DSC-Homepage-Banner-2.png' %}" alt="DSC Banner">
</section>
<section class="section">
    <div class="container">
        <div class="columns has-text-centered">
            <div class="column is-one-third">
                <h3 class="title">Thing 1</h3>
            </div>
            <div class="column is-one-third">
                <h3 class="title">Thing 2</h3>

            </div>
            <div class="column is-one-third">
                <h3 class="title">Thing 3</h3>

            </div>
        </div>
    </div>
</section>
{% endblock %}