{% extends "club/base.html" %}
{% block head %}
<style>
    #splash-video {
        width: 100%;
        height: 250px;
    }
</style>
{% endblock %}
{% load static %}

{% block content %}
<section class="hero is-dark">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column has-text-centered">
                    <h1 class="title is-spaced is-size-1-desktop is-size-2-tablet is-size-3-mobile">Developer Student Clubs RPI</h1>
                    <h2 class="subtitle is-size-4-desktop">Helping </span> {{ school_name_short }} students bridge the gap between <span class="has-text-primary">theory</span> and <span class="has-text-primary">practice</span></h2>
                </div>
    
                <div class="column is-5">
                    <div class="box">
                        <h2 class="subtitle has-text-dark">Next Event</h2>
                        {% if closest_event %}
                        <p>
                            {{ closest_event }}
                            <a href="{% url 'event_detail' closest_event.id %}">View</a>
                        </p>
                        {% else %}
                        <p class="has-text-grey">There are no upcoming events... Check back soon!</p>
                        {% endif %}
                    </div>
                    <!-- <iframe id="splash-video" src="https://www.youtube.com/embed/DcN_hcHXR_0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="columns has-text-centered">
            <div class="column is-one-third">
                <h3 class="title">Connect</h3>
                <p>Meet other students on campus interested in developer technologies. All are welcome, including those with diverse backgrounds and different majors.</p>
            </div>
            <div class="column is-one-third">
                <h3 class="title">Learn</h3>
                <p>Learn about a wide range of technical topics where new skills are gained through hands-on workshops, in-person training and project building activities.</p>
            </div>
            <div class="column is-one-third">
                <h3 class="title">Grow</h3>
                <p>Apply your new learnings and connections to build great solutions for local problems. Advance your skills, career and network. Give back to your community by helping others learn as well.</p>
            </div>
        </div>

        <hr>
        <p class="has-text-centered">
            <a href="/about" class="button is-large is-outlined is-link">Learn More</a>
        </p>
    </div>
</section>

<section id="core-team" class="hero is-warning">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                <a href="#core-team">The Core Team</a>
            </h1>
            <p class="subtitle">The club's Core Team members oversee the club, organize and promote our events, manage our social media! Interested? 
                <a href="#">Apply to be a Core Team Member</a>
            </p>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="columns is-multiline">

            {% for member in core_team %}
            <!-- Core Team Member Column -->
            <div class="column is-half">
                <div class="box core-team-member">
                    <div class="media">
                        <div class="media-left">
                            <p class="image is-64x64">
                                <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                            </p>
                        </div>
                        <div class="media-content">
                            <h2 class="title is-size-5">{{ member.get_full_name }}</h2>
                            <h3 class="subtitle">[ROLE]</h3>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <p class="has-text-grey has-text-centered">No Core Team members have been selected yet!</p>
            {% endfor %}
        </div>
    </div>
</section>


<section id="contact" class="hero is-info">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                <a href="#contact">Contact Us</a>
            </h1>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="columns has-text-centered">
            <div class="column">
                <p>
                    The <strong>Core Team</strong> (club leadership team) can be reached directly at <a href="mailto:developerstudentclubsrpi@gmail.com">developerstudentclubsrpi@gmail.com</a>
                </p>
            </div>

            <div class="column">
                <p>
                    The current lead <strong>Frank Matranga</strong> can be reached directly at <a href="mailto:matraf@rpi.edu">matraf@rpi.edu</a>
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}