{% extends "club/base.html" %}
{% block head %}
<style>
    @media only screen and (min-width: 768px) {
        .full-height {
            height: 95vh;
            display: flex;
            flex-direction: column;
        }
    }

    .hero-body,
    .hero-body .container,
    .hero-body .columns {
        height: 100%;
    }

    .event-types .box {
        position: relative;
    }

    .background-icon {
        position: absolute;
        font-size: 6em;
        right: 20px;
        bottom: 20px;
        opacity: 0.1;
    }

    #particles {
        position: relative;
    }

    .particles-js-canvas-el {
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none;
        z-index: -1;
    }

    .core-team-member .image {
        border-radius: 100%;
        background-size: cover;
    }
</style>
{% endblock %}
{% load static %}

{% block content %}
<div class="full-height">
    <section class="hero is-dark" style="flex: 1">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-vcentered">
                    <div class="column">
                        <h1 class="title is-spaced is-size-1-desktop is-size-2-tablet is-size-3-mobile">Developer
                            Student
                            Clubs RPI</h1>
                        <h2 class="subtitle is-size-4-desktop">Bridging the gap between <span
                                class="has-text-warning">theory</span> and <span
                                class="has-text-warning">practice</span></h2>
                    </div>

                    <div class="column is-5">
                        <div class="box">
                            <h2 class="subtitle has-text-dark">Next Event</h2>
                            {% if closest_event %}
                            <p>
                                {{ closest_event }}
                                <a href="{% url 'event_detail' closest_event.id %}">View</a>
                            </p>
                            {% else %}
                            <p class="has-text-grey">There are no upcoming events... Check back soon!</p>
                            {% endif %}
                        </div>
                        <!-- <iframe id="splash-video" src="https://www.youtube.com/embed/DcN_hcHXR_0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="particles" class="section">
        <div class="container">
            <div class="columns has-text-centered">
                <div class="column is-one-third">
                    <h3 class="title">Connect</h3>
                    <p>Meet other students on campus interested in developer technologies. All are welcome, including
                        those
                        with diverse backgrounds and different majors.</p>
                </div>
                <div class="column is-one-third">
                    <h3 class="title">Learn</h3>
                    <p>Learn about a wide range of technical topics where new skills are gained through hands-on
                        workshops,
                        in-person training and project building activities.</p>
                </div>
                <div class="column is-one-third">
                    <h3 class="title">Grow</h3>
                    <p>Apply your new learnings and connections to build great solutions for local problems. Advance
                        your
                        skills, career and network. Give back to your community by helping others learn as well.</p>
                </div>
            </div>

            <p class="has-text-centered">
                <a href="#what-we-do" class="button is-large is-outlined is-link">Learn More</a>
                <a href="{% url 'faq' %}" class="button is-large is-outlined is-warning">FAQ</a>
            </p>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
    <script>
        // Thanks to https://www.dsccsusm.org/
        const particlesObj = {
            "particles": {
                "number": {
                    "value": 10,
                    "density": {
                        "enable": true,
                        "value_area": 1200
                    }
                },
                "color": {
                    "value": ["#DB4437", "#0F9D58", "#4285F4", "#F4B400"]
                },
                "shape": {
                    "type": "circle",
                    "stroke": {
                        "width": 0,
                        "color": "#000"
                    },
                    "image": {
                        "src": "img/github.svg",
                        "width": 100,
                        "height": 100
                    }
                },
                "opacity": {
                    "value": 1,
                    "random": false,
                    "anim": {
                        "enable": false,
                        "speed": 1,
                        "opacity_min": 1,
                        "sync": false
                    }
                },
                "size": {
                    "value": 70,
                    "random": true,
                    "anim": {
                        "enable": true,
                        "speed": 10,
                        "size_min": 20,
                        "sync": false
                    }
                },
                "line_linked": {
                    "enable": false,
                    "distance": 200,
                    "color": "#000000",
                    "opacity": 1,
                    "width": 2
                },
                "move": {
                    "enable": true,
                    "speed": 9,
                    "direction": "none",
                    "random": true,
                    "straight": false,
                    "out_mode": "out",
                    "bounce": false,
                    "attract": {
                        "enable": true,
                        "rotateX": 600,
                        "rotateY": 1200
                    }
                }
            },
            "interactivity": {
                "detect_on": "canvas",
                "events": {
                    "onhover": {
                        "enable": false,
                        "mode": "grab"
                    },
                    "onclick": {
                        "enable": false,
                        "mode": "push"
                    },
                    "resize": true
                },
                "modes": {
                    "grab": {
                        "distance": 400,
                        "line_linked": {
                            "opacity": 1
                        }
                    },
                    "bubble": {
                        "distance": 400,
                        "size": 40,
                        "duration": 2,
                        "opacity": 8,
                        "speed": 3
                    },
                    "repulse": {
                        "distance": 200,
                        "duration": 0.4
                    },
                    "push": {
                        "particles_nb": 4
                    },
                    "remove": {
                        "particles_nb": 2
                    }
                }
            },
            "retina_detect": true
        };

        // XMLHttpRequest doesn't allow CORS, so to work around it we need to pass it a data URI
        const jsonUri = "data:text/plain;base64," + window.btoa(JSON.stringify(particlesObj));
        particlesJS.load('particles', jsonUri, function () {
            console.log('callback - particles.js config loaded');
        });
    </script>
</div>

<section id="what-we-do" class="hero is-success">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                <a href="#what-we-do">What We Do</a>
            </h1>
            <p class="subtitle">DSC events take many forms - workshops, speaker sessions, etc. They are held roughly
                once a month. RSVPs and attendance are tracked through this site!</p>
        </div>
    </div>
</section>
<section class="section">
    <div class="event-types container">
        <div class="columns is-multiline">
            <div class="column is-one-quarter-fullhd is-half-desktop is-one-mobile is-full">
                <div class="box">
                    <i class="background-icon fas fa-cloud"></i>
                    <h2 class="subtitle">Study Jams</h2>
                    <p>A longer event, a collective learning program designed to give students practical experience in
                        Google Cloud Tools. These are created and provided by Google using <a
                            href="https://www.qwiklabs.com/" target="_blank" rel="noopener noreferrer">QwikLabs</a>.
                    </p>
                </div>
            </div>
            <div class="column is-one-quarter-fullhd is-half-desktop is-one-mobile is-full">
                <div class="box">
                    <i class="background-icon fas fa-toolbox"></i>
                    <h2 class="subtitle">Hands-on Workshop</h2>
                    <p>A hands-on activity where students have come together to review technical content and write code,
                        e.g. Code Labs.
                    </p>
                </div>
            </div>
            <div class="column is-one-quarter-fullhd is-half-desktop is-one-mobile is-full">
                <div class="box">
                    <i class="background-icon fas fa-users"></i>
                    <h2 class="subtitle">Hackathon</h2>
                    <p>An event where you break into teams and work on building a solution.</p>
                </div>
            </div>
            <div class="column is-one-quarter-fullhd is-half-desktop is-one-mobile is-full">
                <div class="box">
                    <i class="background-icon fas fa-comment"></i>
                    <h2 class="subtitle">Speaker Sessions</h2>
                    <p>An event where a Core Team member or guest speaker cover technical content.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="join" class="hero is-danger">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                <a href="#join">How to Join</a>
            </h1>
            <p class="subtitle">Simply log in!</p>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <p>
            <a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a> to get started. Then <a
                href="{% url 'user_account' %}">fill out your profile</a> and enter your {{ school_name_short }}
            username.
            You'll then be able to RSVP for events <span class="has-text-grey">(not required)</span> and you'll be added
            to the official mailing list to be notified of planned events!
        </p>
    </div>
</section>


<section id="core-team" class="hero is-warning">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                <a href="#core-team">The Core Team</a>
            </h1>
            <p class="subtitle">The club's Core Team members oversee the club, organize and promote our events, manage
                our social media! Interested?
                <a target="_blank" href="https://forms.gle/Rxosfw6JNvhjVoE28">Apply to be a Core Team Member</a>
            </p>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="columns is-multiline">

            {% for user in core_team %}
            <!-- Core Team Member Column -->
            <div class="column is-half">
                <div class="box core-team-member">
                    <div class="media">
                        <div class="media-left">
                            <p class="image is-64x64"
                                style="background-image: url('{{ user.member.profile_image_url }}')"></p>
                        </div>
                        <div class="media-content">
                            <h2 class="title is-size-5">{{ user.get_full_name }}</h2>
                            <h3 class="subtitle">{{ user.member.group_names }}</h3>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <p class="has-text-grey has-text-centered">No Core Team members have been selected yet!</p>
            {% endfor %}
        </div>
    </div>
</section>


<section id="contact" class="hero is-info">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                <a href="#contact">Contact Us</a>
            </h1>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="columns has-text-centered">
            <div class="column">
                <p>
                    The <strong>Core Team</strong> can be reached directly at <a
                        href="mailto:developerstudentclubsrpi@gmail.com">developerstudentclubsrpi@gmail.com</a>
                </p>
            </div>

            <div class="column">
                <p>
                    The current lead <strong>Frank Matranga</strong> can be reached directly at <a
                        href="mailto:matraf@rpi.edu">matraf@rpi.edu</a>
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}