{% extends "club/base.html" %}
{% load markdown_filter %}
{% block head %}
<style>
    .slideshow-thumbnail {
        height: 200px;
    }

    .is-sticky {
        position: sticky;
        top: 70px;
    }

    @media screen and (max-width: 768px) {
        .is-reversed-mobile {
            display: flex;
            flex-direction: column-reverse;
        }
    }

    .event-info > div {
        margin-bottom: 10px;
    }

    .event-agenda li {
        list-style: none;
    }

    .event-agenda-description:not(:last-child) {
        margin-bottom: 10px;
    }
</style>
{% endblock %}
{% block content %}
<section class="section event-detail">
    <div class="container">
        {% include 'club/includes/messages.html' %}

        {% if event.hidden %}
        <div class="notification is-warning"><strong>HIDDEN EVENT</strong> This event is not public or listed on the
            events page yet.</div>
        {% endif %}

        <div class="columns is-reversed-mobile">
            <div class="column">
                <header>
                    <h1 class="title event-title is-size-2">{{ event.title }}</h1>
                    <h2 class="subtitle has-text-grey is-size-4">
                        {% if event.is_ongoing %}Ongoing{% endif %} {{ event.get_event_type_display }}
                    </h2>
                    {% if event.meeting_notes_id %}
                    <a href="{{ event.meeting_notes_link }}" target="_blank" class="event-meeting-notes">
                        <span class="icon">
                            <i class="fas fa-file-alt"></i>
                        </span>
                        <span>Meeting Notes</span>
                    </a>
                    {% endif %}
                </header>
                
                <div class="content">
                    <blockquote>
                        <p class="event-description">{{ event.description|markdown_filter|safe }}</p>
                    </blockquote>

                </div>
            </div>
            <div class="column is-4">
                <div class="is-sticky">

                    {% include "club/events/includes/event_info.html" %}

                    {% if event.slideshow_id %}
                    <figure style="position: relative" class="image">
                        {% if user.is_staff %}
                        <a title="Change slideshow" href="?select-slideshow=1" class="button"
                            style="position: absolute; top: 2px; right: 2px;">
                            <span class="icon">
                                <i class="fas fa-pencil-alt"></i>
                            </span>
                        </a>
                        {% endif %}
                        <a target="_blank" href="{{ event.slideshow_link }}">
                            <img class=" slideshow-thumbnail" src="{{ event.thumbnail_link }}"
                                alt="Thumbnail of event slideshow">
                        </a>
                    </figure>
                    {% endif %}
                </div>

            </div>
            {% if show_slideshows %}
            {% include "club/events/includes/event_select_slideshow_modal.html" %}
            {% endif %}
        </div>
        {% if user.is_authenticated %}
        {% if user.is_staff %}
        <hr>
        {% include "club/events/includes/event_staff_actions.html" %}
        {% elif event.is_ongoing and show_submit_attendance %}
        {% include "club/events/includes/event_attendance_modal.html" %}
        {% endif %}
        
        {% if event.is_over and show_submit_feedback  %}
        {% include "club/events/includes/event_feedback_modal.html" %}
        {% endif %}

        {% if user.is_staff and event.has_started %}
        <hr>
        <h2 class="subtitle">Event Review</h2>
        <form method="POST" onsubmit="return confirm('Make sure you have submitted the official DSC Report Form first!')">
            {% csrf_token %}
            <textarea class="input" name="review" id="event-review"
                placeholder="How did the event go? In particular, what issues did you face? How can you avoid similar mistakes in the future? How was feedback?">{% if event.review %}{{ event.review }}{% endif %}</textarea>
            <a target="_blank" href="https://bit.ly/reportdsc" class="button">Submit Official Report Form</a>
            <button type="submit" class="button is-success">{% if event.review %}Update{% else %}Save{% endif %}
                Review</button>
        </form>
        {% elif user.is_staff and event.event_type == 'SJ' %}
        <a target="_blank" href="https://bit.ly/csj_19" class="button is-link">
            <span class="icon">
                <i class="fas fa-cloud"></i>
            </span>
            <span>Register Cloud Study Jam</span>
        </a>
        {% endif %}
        <hr>
        {% endif %}

        <div class="buttons">
            {% if user.is_authenticated %}
            {% if user.is_staff and not event.meeting_notes_id %}
            <form method="POST" onsubmit="return confirm('Generate meeting notes in the Google Drive?')">
                {% csrf_token %}
                <input type="hidden" name="create-document" value="meeting-notes">
                <button type="submit" class="button is-danger">
                    <span class="icon">
                        <i class="fas fa-file-alt"></i>
                    </span>
                    <span>Create Meeting Notes</span>
                </button>
            </form>
            {% endif %}
            {% if user.is_staff and not event.slideshow_id %}
            <a href="?select-slideshow=1" class="button is-warning">
                <span class="icon">
                    <i class="fab fa-slideshare"></i>
                </span>
                <span>Select Slideshow</span>
            </a>
            {% endif %}
            
            {% if not event.has_started and not user.is_staff and not rsvp and show_rsvp_form %}
            {% include "club/events/includes/event_rsvp_modal.html" %}
            {% endif %}
            {% endif %}
            <a href="{% url 'events' %}" class="button is-link">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span>All Events</span>
            </a>
        </div>
    </div>
</section>
{% endblock %}