{% extends "club/base.html" %}

{%block content %}
<section class="section event-detail">
    <div class="container">
        {% if event.hidden %}
        <div class="notification is-warning"><strong>HIDDEN EVENT</strong> This event is not public or listed on the
            events page yet.</div>
        {% endif %}

        <h1 class="title event-title">{{ event.title }}</h1>
        <h2 class="subtitle has-text-grey">{{ event.get_event_type_display }}</h2>
        {% if event.meeting_notes_id %}
        <a href="{{ event.meeting_notes_link }}" target="_blank" class="event-meeting-notes">
            <span class="icon">
                <i class="fas fa-file-alt"></i>
            </span>
            <span>Meeting Notes</span>
        </a>
        {% endif %}

        <p class="event-description">{{ event.description }}</p>
        <hr>
        {% if user.is_staff %}
        {% if show_attendance_code %}
        <h3>{{ event.attendance_code }}</h3>
        <a href="?show_attendance_code=0">Hide Attendance Code</a>
        {% else %}
        <a href="?show_attendance_code=1">Show Attendance Code</a>
        {% endif %}
        {% else %}
        <form id="attendance" class="box" action="">
            <label class="label" for="attendance-code">Verify Attendance</label>
            <p class="help">The attendance code will be released by the event organizer towards the end of the event. You must enter the code before the end of the event in order to be counted.</p>
            <div class="field has-addons">
                <div class="control has-icons-left is-expanded">
                    <input id="attendance-code" class="input" name="attendance-code" type="text" placeholder="Attendance code">
                    <span class="icon is-small is-left">
                        <i class="fas fa-key"></i>
                    </span>
                </div>
                <div class="control">
                    <a class="button is-info">
                        Submit
                    </a>
                </div>
            </div>
        </form>
        {% endif %}
        <div class="buttons">
            {% if user.is_authenticated %}
            {% if user.is_staff and not event.meeting_notes_id %}
            <form method="POST" onsubmit="return confirm('Generate meeting notes in the Google Drive?')">
                {% csrf_token %}
                <input type="hidden" name="create-document" value="meeting-notes">
                <button type="submit" class="button is-danger">
                    <span class="icon">
                        <i class="fas fa-file-alt"></i>
                    </span>
                    <span>Create Meeting Notes</span>
                </button>
            </form>
            {% endif %}
            <!-- <button class="button is-light">
                <span class="icon">
                    <i class="far fa-calendar"></i>
                </span>
                <span>Not Coming</span>
            </button> -->
            {% endif %}
            <a href="{% url 'events' %}" class="button is-link">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span>All Events</span>
            </a>
        </div>
    </div>
</section>
{% endblock %}