{% extends "club/base.html" %}
{% block head %}
<style>
    .media-body hr {
        margin-top: 10px;
        margin-bottom: 10px;
    }
</style>
{% endblock %}
{% block content %}
<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">Club Events</h1>
            <h2 class="subtitle">We host workshops, code jams, speaker sessions and more!</h2>
        </div>
    </div>
</section>
<section class="section event-index">
    <div class="container">
        {% include 'club/includes/messages.html' %}

        <h1 id="upcoming" class="title">
            <a href="#upcoming">Upcoming</a>
        </h1>
        <div class="columns">
            <div class="column is-half">
                {% for event in upcoming_events %}
                <div class="box media event-summary">
                    <div class="media-left">
                        <p class="image is-128x128" style="display: flex; align-items: center;">
                            {% if event.slideshow_id %}
                            <a title="Event slideshow" target="_blank" href="{{ event.slideshow_link }}">
                                <img alt="Thumbail for event slideshow" src="{{ event.thumbnail_link }}">
                            </a>
                            {% endif %}
                        </p>
                    </div>
                    <div class="media-body">
                        <a href="{% url 'event_detail' event.id %}">
                            <h3 class="title is-size-4">{{ event.title }}
                                <span class="has-text-grey">{{ event.get_event_type_display }}</span>
                            </h3>
                        </a>
                        {% if event.tagline %}
                        <h4 class="subtitle"><em>{{ event.tagline }}</em></h4>
                        {% endif %}

                        <i class="far fa-clock"></i>
                        <span class="event-date">{{ event.start|date:"l, F jS" }}</span> | 
                        <span class="event-time">{{ event.start|time:"g:i a" }} - {{ event.end|time:"g:i a" }}</span>
                        <br>
                        <a href="https://maps.google.com/?q={{ event.location|urlencode }}"
                            title="This event is being held in {{ event.location }}" target="_blank"
                            class="event-location">
                            <i class="fas fa-map-marker-alt"></i>
                            {{ event.location }}
                        </a>

                        <hr>
                        {% if user.is_staff %}
                        <div class="tags is-pulled-right">
                            <span class="tag is-dark">{{ event.rsvps.count }} RSVPs</span>
                            <span class="tag is-info">{{ event.attendance.count }} attendees</span>
                        </div>
                        {% endif %}
                        <div class="buttons">
                            {% if not event.has_started %}
                            {% if event in user_rsvped_events %}
                            <a title="You have RSVPed for this event." href="{% url 'event_detail' event.id %}" class="button is-success is-small is-disabled" disabled>
                                <span class="icon">
                                    <i class="fas fa-calendar-check"></i>
                                </span>
                                <span>RSVPed</span>
                            </a>
                            {% elif not user.is_staff %}
                            <a href="{% url 'event_rsvp' event.id %}" class="button is-success is-small">
                                <span class="icon">
                                    <i class="fas fa-calendar-check"></i>
                                </span>
                                <span>RSVP</span>
                            </a>
                            {% endif %}
                            {% endif %}

                            {% if event.is_ongoing and user.is_authenticated and not user.is_staff %}
                            
                            {% if event in user_attended_events %}
                            <a href="{% url 'event_detail' event.id %}" class="button is-small is-warning is-disabled" disabled>
                                <span class="icon">
                                    <i class="fas fa-user-check"></i>
                                </span>
                                <span>Submitted Attendance</span>
                            </a>
                            {% else %}
                            <a href="{% url 'event_attendance' event.id %}" class="button is-small is-warning">
                                <span class="icon">
                                    <i class="fas fa-user-check"></i>
                                </span>
                                <span>Submit Attendance</span>
                            </a>
                            {% endif %}

                            {% endif %}
                            <a href="{% url 'event_detail' event.id %}" class="button is-link is-small">
                                <span class="icon">
                                    <i class="fas fa-info-circle"></i>
                                </span>
                                <span>View</span>
                            </a>
                        </div>
                    </div>
                    <!-- <a class="button is-primary" >View</a> -->
                </div>
                {% empty %}
                <p class="has-text-grey is-size-4">
                    There are no upcoming events yet. Stay tuned!
                </p>
                {% endfor %}
            </div>
            <div class="column is-half">
                <iframe
                    src="https://calendar.google.com/calendar/embed?src={{ google_calendar_id }}&ctz=America%2FNew_York"
                    style="border: 0" width="100%" height="600" frameborder="0" scrolling="no"></iframe>
            </div>
        </div>

        <hr>

        <h2 id="past" class="title is-size-4">
            <a href="#past">Past Events</a>
        </h2>
        {% if past_events|length > 0 %}
        <table class="table is-fullwidth">
            <thead>
                <tr>
                    <th>When</th>
                    <th>Type</th>
                    <th>Title</th>
                    {% if user.is_staff %}
                    <th>Attendance/RSVPs</th>
                    <th>Reviewed?</th>
                    {% endif %}
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for event in past_events %}
                <tr>
                    <td>{{ event.start }}</td>
                    <td>{{ event.get_event_type_display }}</td>
                    <td>
                        {% if event.visibility == 'C' %}<span class="icon" title="Core Team only"><i class="fas fa-lock"></i></span>{% endif %}
                        <span>{{ event.title }}</span>
                        {% if event in user_rsvped_events %}
                        <span class="tag is-primary">RSVPed</span>
                        {% endif %}
                        {% if event in user_attended_events %}
                        <span class="tag is-success">Attended</span>
                        {% endif %}
                    </td>
                    {% if user.is_staff %}
                    <td>{{ event.attendance.count }}/{{ event.rsvps.count }}</td>
                    <td>
                        <span class="icon">
                            {% if event.review %}
                            <i class="fas fa-check has-text-success"></i>
                            {% else %}
                            <i class="fas fa-times has-text-danger"></i>
                            {% endif %}
                        </span>
                    </td>
                    {% endif %}
                    <td>
                        <a href="{% url 'event_detail' event.id %}" class="button is-small is-pulled-right">View</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p class="has-text-grey">There are no past events.</p>
        {% endif %}
    </div>
</section>

{% endblock %}