{% extends "club/base.html" %}

{% block content %}
<section class="section event-index">
    <div class="container">
        <h2 class="title">Upcoming Events</h2>

        <div class="columns">
            <div class="column is-half">
                {% for event in upcoming_events %}
                <div class="box event-summary">
                    <a href="/events/{{ event.id }}">
                        <h3 class="title is-size-4">{{ event.title }}
                            <span class="has-text-grey">{{ event.get_event_type_display }}</span>
                        </h3>
                    </a>
                    {% if event.tagline %}
                    <h4 class="subtitle">{{ event.tagline }}</h4>
                    {% endif %}
                    <!-- <a class="button is-primary" >View</a> -->
                </div>
                {% empty %}
                <p class="has-text-grey is-size-4">
                    There are no upcoming events yet. Stay tuned!
                </p>
                {% endfor %}
            </div>
            <div class="column is-half">
                <iframe
                    src="https://calendar.google.com/calendar/embed?src=scg6hcfie2ebi9bg7ecmj8epn4%40group.calendar.google.com&ctz=America%2FNew_York"
                    style="border: 0" width="100%" height="600" frameborder="0" scrolling="no"></iframe>
            </div>
        </div>

        <hr>

        <h2 class="title is-size-5">Past Events</h2>
        {% if past_events|length > 0 %}
        <table class="table is-fullwidth">
            <thead>
                <tr>
                    <td>When</td>
                    <td>Type</td>
                    <td>Title</td>
                    <td></td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                {% for event in past_events %}
                <tr>
                    <td>{{ event.start }}</td>
                    <td>{{ event.get_event_type_display }}</td>
                    <td>{{ event.title }}</td>
                    <td>{% if event.tagline %}{{ event.tagline }}{% else %}<span
                            class="has-text-grey">-</span>{% endif %}</td>
                    <td>
                        <a href="#" class="button is-small is-pulled-right">View</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p class="has-text-grey">There are no past events.</p>
        {% endif %}
    </div>
</section>

{% endblock %}